<div class="container-fluid">
  <div class="row justify-content-center h-100">
    <div class="col-3 align-self-center m-4 p-4 border-1" *ngIf="!registered">
      <div class="row justify-content-center mb-3">
        <h4 class="col-auto text-center">Registration</h4>
      </div>
      <div class="row justify-content-center" *ngIf="loading">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      <form [formGroup]="clientForm" *ngIf="!loading">
        <div class="row justify-content-center mb-3">
          <label class="col-auto" for="name">Name</label>
          <input
            id="name"
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Name"
          />
        </div>
        <div class="row justify-content-center mb-3">
          <label class="col-auto" for="company">Company</label>
          <input
            id="company"
            type="text"
            class="form-control"
            formControlName="company"
            placeholder="Company"
          />
        </div>
        <div class="row justify-content-center">
          <button class="col-auto btn btn-accent px-4" (click)="register()">
            Join
          </button>
        </div>
      </form>
    </div>
    <div
      class="col-3 align-self-center m-4 p-4 border-1"
      *ngIf="registered && client && !client.approved"
    >
      <div class="row justify-content-center mb-3">
        <h4 class="col-auto text-center">Hi {{ client.name }}</h4>
      </div>
      <div class="row justify-content-center mb-3">
        <h4 class="col-auto text-center">Awaiting approval</h4>
      </div>
    </div>

    <div
      class="col-3 align-self-center m-4 p-4 border-1"
      *ngIf="registered && client && client.approved"
    >
      <div class="row justify-content-center mb-3">
        <h4 class="col-auto text-center">Hi {{ client.name }}</h4>
      </div>
      <div class="row justify-content-center mb-3">
        <h4 class="col-auto text-center">Welcome onboard</h4>
      </div>
      <div class="row justify-content-center mb-3">
        <button class="col-auto btn btn-primary" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #reg> </ng-template>

<ng-template #waiting> </ng-template>
